import { O_db_connection_info } from "./mod.module.js"

var a_o_db_connection_info = [
  new O_db_connection_info(
     1,
     "127.0.0.1",
     3306,
     "testuser",
     "testpassword",
  )
]

export {
  a_o_db_connection_info,
}