import { Client } from "https://deno.land/x/mysql/mod.ts";
const o_db_client = await new Client().connect({
  hostname: "127.0.0.1",
  username: "admin",
  password: "Test1234",
});

export {o_db_client}